{% extends 'base.html.twig' %}

{% block title %}Home - {{ parent() }} {% endblock %}

{% block body %}
    <h1 class="text-3xl text-center font-bold underline">Site d'avis sur les entreprises</h1>
{% endblock %}
